body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('image.jpg');
    
}

.container {
    text-align: center;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(216, 75, 15, 0.1);
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
}

button {
    padding: 10px 20px;
    background-color: #19b4cf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
i{
    font-size: 5rem;
    color: wheat;
}
h1{
    color: rgb(48, 220, 220);
    font-style: italic;
    font-weight: 600;
}
button:hover {
    background-color: #0062b3;
    font-weight: 700;
}

#weather-result {
    margin-top: 20px;
    color: azure;
}
